/******
GLOBAL
******/
body {
    background-color: #9FA66A;
}
input {
    background-color: #eee;
}
.grouping:before,
.grouping:after {
  content: " ";
  display: table;
}
.grouping:after {
  clear: both;
}
/******
TEXT
******/
h1{
  color: #eee;
  font-size: 100px;
}
h2 {
  color: #eee;
  font-size: 75px;
}
h3 {
  color: #eee;
  font-size: 50px;
}
h4 {
  color: #eee;
  font-size: 25px;
}
p, label, a, li {
  color: #363B16;
  font-weight: 600;
  font-size: 16px;
}
p {
  line-height: 1.5;
}
/*******
IMAGES
********/
img {
    height: 150px;
    width: 150px;
}
.logo {
  float: right;
  width: 400px;
  height: 400px;
  /********
  ADJUST FOR WHITESPACE ABOVE IMAGE
  ********/
  margin-top: -50px;
}
.molecule {
  margin-left: auto;
  margin-right: auto;
  display: block;
  filter: invert();
}
.molecule:hover {
  filter: none;
}
/********
HEADERS
********/
.page-header {
    background-color: #595407;
    padding: 75px;
    /*******
    countering bootstrap
    *******/
    margin: 0;
    border: none;
}
/***********
CLEARFIX TO MAINTAIN BACKGROUND WITH FLOATED CONTENT
***********/
.page-header:before,
.page-header:after {
  content: " ";
  display: table;
}
.page-header:after {
  clear: both;
}
.title-text {
  float: left
}
.header {
  padding: 50px 0px;
}
/*********
NAVIGATION
*********/
.navigation {
  padding: 0;
}
.nav > li >  a{
    color: #363B16;
    background-color: #D2DB8C;
}
.affix {
  top: 0;
  width: 100%;
}

.affix-top {
  width: 100%;
}

.affix-bottom {
  position: absolute;
  width: 100%;
}

/**********
PLANT SELECTOR
***********/
.list-group-item {
    background-color: #D2DB8C;
    border: 1px solid #363B16;
}
/********
MAIN CONTENT STYLING
*********/
.text-block {
  border-top: 1px solid #595407;
  padding-top: 25px;
}
.section {
  margin: 25px 0;
}
.row {
  margin: 0 7%;
}
/*********
PLANT LIBRARY
*********/
.plants {
    background-color: #D2DB8C;
}
/*********
PLANTULATE PAGE ALTERNATE STYLING
*********/
.container {
  width: 100%;
  background-color: #9FA66A;
  padding: 50px;
}
.container h2 {
  color: #363B16;
}
.container:nth-child(even) {
  background-color: #595407;
}
.container:nth-child(even) p,
.container:nth-child(even) a,
.container:nth-child(even) h2,
.container:nth-child(even) label {
  color: #ccc;
}
.container:nth-child(even) .text-block {
  border-top: 1px solid #ccc;
}
.container:nth-of-type(even) .down-icon {
  fill: #ccc;
}
/*******
COLUMN
*******/
.column {
  float: left;
  width: 30%;
  margin-left: 15px;
  padding: 15px;
}
.plant-list {
  position: absolute;
  background-color: #9FA66A;
  padding: 10px;
}
.column h4 {
  text-align: center;
}

/***********
SCALING LIGHTBOX
***********/
.lightbox {
  position: absolute;
  width: 400px;
  height: 390px;
  margin: 45px;
}
.box img {
  position: absolute;
  width: 500px;
  height: 500px;
}
.box {
  height: 500px;
}

.suggest {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.submit {
  width: 300px;
  padding: 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  background-color: #9fa66a;
  color: #363b16;
}
.submit:hover {
  color: #595407
  border: none;
  background-color: #fff;
}

.down-icon {
  fill: #363B16;
}

.scroll-icon {
  margin: 25px auto;
  width: 75px;
  height: 75px;
}

.plant-icon {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
.wide100 {
  width: 100px;
  height:200px;
}

.image-slice {
  position: absolute;
  height: 300px;
  width: 300px;
}
.spacing-image {
  position: relative;
}

.input-range {
  width: 50% !important;
  margin-top:15px;
  margin-bottom: 15px;
}

.stl0:hover{fill:none;stroke:#363B16;stroke-width:10;stroke-miterlimit:10;}
.stl1:hover{fill:none;stroke:#363B16;stroke-width:10;stroke-miterlimit:10;}

.label-text {
  width: 50%;
  display: block;
  text-align: center;
}
.dimension-box {
  text-align: center;
  display: block;
  width: 25%;
  margin-bottom: 10px;
  font-size: 18px;
}
.dimension-box:focus {
  outline: 2px solid #363B16;
}

#water-low, #water-high {

  fill: #fff;
}
#water-low {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 79%;
  top: -35%;
}
#water-high {
  width: 75px;
  height: 75px;
  position: absolute;
  right: 15%;
  top: -150%;
}
.water-scale {
  position:relative;
}

.checkbox {
  width: 100px;
  height: 100px;
  fill: #363B16;
}

.human-box, .cat-box, .dog-box{
  display: inline-block;
}
