/******
GLOBAL
******/
body {
    background-color: #9FA66A;
}
input {
    background-color: #c6c6c6;
}
/******
TEXT
******/
h1{
  color: #c6c6c6;
  font-size: 100px;
}
h2 {
  color: #c6c6c6;
  font-size: 50px;
}
h3, p, label, a {
    color: #363B16;
}
/*******
IMAGES
********/
img {
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 10px;
}
/********
HEADER
********/
.page-header {
    background-color: #595407;
    padding: 75px 20px;
    /*******
    countering bootstrap
    *******/
    margin: 0;
    border: none;
}
/*********
NAVIGATION
*********/
.nav > li >  a{
    color: #363B16;
    background-color: #D2DB8C;
}
/**********
PLANT SELECTOR
***********/
.list-group-item {
    background-color: #D2DB8C;
    border: 1px solid #363B16;
}
/*********
PLANT LIBRARY
*********/
.plants {
    background-color: #D2DB8C;
    height: 200px;
    border: 1px solid #363B16;
}
