<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Green Skeleton</title>
    <link rel="stylesheet" href="./assets/styles/style.css">
    <link rel="stylesheet" href="./vendors/bootstrap.min.css">

    <script type="text/javascript" src="./vendors/angular.min.js"></script>
    <script type="text/javascript" src="./assets/scripts/app.min.js"></script>

</head>


<body>
    <div ng-controller="PlantTestController"></div>
    <div class="well">
        <p>Testing</p>
    </div>

    <div ng-controller="PassportController"></div>


</body>
</html>