<!--********
INTRODUCTION
*********-->
<div class="container">
  <div class="row">
    <h2 class="header">Welcome</h2>
    <p class="text-block">Welcome to Green Skeleton Houseplant Assistant! On this site, I hope
      educate you on the benefits of houseplants and encourage you to realize that, no matter
      your skill level, there is a plant available for you to be able to grow in your home. But before
      we get down to earth in the dirt of hosueplants, I need to start with space, and with NASA
      to be specific.</p>
      <div class="scroll-button">
        <a ng-click="scrollTo('nasa')">NASA</a>
      </div>
  </div>
</div>

<!--********
NASA EXPERIMENT
 ********-->
<div class="container" id="nasa">
  <div class="row">
    <h2 class="header">NASA</h2>
    <p class="text-block">
      NASA understood that plants could clean the air, and they were interested in seeing if small houseplants, which were already shown to survive in containers, could be used as a means of cleaning the air in space stations, rather than expensive air filtering equipment. More specifically, they wanted to see if the plants could remove common chemicals in the air that could be harmful to human health. These chemicals were:
    </p>
    <div class="grouping section">
      <div class="column">
        <h4>Benzene</h4>
        <img class="molecule" src="./vendors/images/benzene.png">
        <p>Benzene is a natural constituent of crude oil and is one of the most common industrial
        chemicals in use, usually used as an intermediate to make other chemicals, most of which
        are used mainly in plastics and synthetic fibers. As a result, it it present at low levels
        in a wide array of products. Benzene is considered a carcinogen to both humans and animals,
        targeting the liver, kidneys, heart, brain, and bone marrow. It can cause DNA and chromosomial
        damage and can cause leukemia in sufficient levels. OSHA recommends a maximum exposure limit of
        0.1 ppm over 8 hours.</p>
        <img src="" ng-mouseenter="benzene=true" ng-mouseleave="benzene=false">
        <div ng-show="benzene" class="plant-list">
          <h5>Gerbera Daisy</h5>
          <h5>Pot Mum</h5>
          <h5>Peace Lily</h5>
        </div>
      </div>
      <div class="column">
        <h4>Trichloroethylene</h4>
        <img class="molecule" src="./vendors/images/trichloroethylene.png">
        <p>Trichloroethylene is typically used as an industrial solvent and in refrigerant manufacture,
           and was historically used as an anesthetic. It affects primarily the central nervous
          system, although it can also affect the liver and kidneys, causing intoxication similar to that
          of alcohol. SCOEL lists the maximum exposure limit of 10 ppm over 8 hours, or 30 ppm for a short
           term limit (15 minutes).</p>
        <img src="" ng-mouseenter="trichlor=true" ng-mouseleave="trichlor=false">
        <div ng-show="trichlor" class="plant-list">
          <h5>Marginata</h5>
          <h5>Gerbera Daisy</h5>
          <h5>Mass Cane</h5>
        </div>
      </div>
      <div class="column">
        <h4>Formaldehyde</h4>
        <img class="molecule" src="./vendors/images/formaldehyde.png">
        <p>Formaldehyde is a naturally occurring organic compound that is commonly used as a precurosr
          in industrial resins and coatings. It is also created by forest fires, automobile exhaust,
          and tobacco smoke, thus occurring wherever there is smog. It is toxic to all animals, causing
          eye and nasal irritation and is a known carcinogen. The maximum recommended concentration level
          is listed at 0.3 ppm.</p>
        <img src="" ng-mouseenter="formald=true" ng-mouseleave="formald=false">
        <div ng-show="formald" class="plant-list">
          <h5>Bamboo Palm</h5>
          <h5>Mass Cane</h5>
          <h5>Snake Plant</h5>
        </div>
      </div>
    </div>
    <p class="text-block">
      NASA sealed a variety of plants in containers with these chemicals present and measured the amount that was absorbed by the plants. They also did this with the plants trimmed away, and discovered that it is not only the plant that removes the chemicals from the air, but the bacteria in the soil that the plants’ root systems cultivated. But why did NASA decide to use houseplants and not other plants? Well, for space constraints, of course. But houseplants also tend to have a better survival rate for indoor conditions, which can be hostile to plants. Let’s take a look at why this is.
    </p>
  </div>
  <div class="scroll-button">
    <a ng-click="scrollTo('houseplant')">Houseplants Overview</a>
  </div>

</div>

<!--*********
WHAT MAKES A PLANT A GOOD HOUSEPLANT
**********-->
<div class="container" id="houseplant">
  <div class="row">
    <h2 class="header">Houseplants</h2>
    <p class="text-block">The interior of homes is a difficult place for plants to survive. This is no real surprise: homes are designed to be shelters for people from the elements. This causes three factors to limit a plant’s ability to survive. These are: lack of light, lack of water, and lack of soil/ soil nutrients in which to grow. Because of these limits, plant grown indoors generally have to be tough or require a great deal of effort to maintain. Let’s take a look at each of these limits on plants.</p>
    <div class="scroll-button">
      <a ng-click="scrollTo('light')">Light</a>
    </div>
  </div>
</div>

<!--********
Light
*********-->
<div class="container" id="light">
  <div class="row">
    <h2 class="header">Light</h2>
    <p class="text-block">Light is one of the most important things for a plant to have, and is also one of the factors that can vary the most inside a person’s home. Depending on the room’s number of windows, which way their facing, and whether there are any outside trees or buildings that could block sunlight getting in can result in full, bright, direct sunlight or almost non-existent light. In most homes, however, light levels tend to skew to the lower side. As a result, many popular houseplants do not require as much light to survive. These are often tropical understory plants that are used to low light conditions.</p>
    <p>To determine how bright your room is for picking the right houseplant, keep in mind that northern windows receive the least light, while southern-facing windows receive the most. If there are buildings or trees near the window, they’ll also block light. On the scale below, you can select a general estimate for the amount of natural light the tour room gets.</p>

    <!-- SLIDER FOR NEW INPUT, NEED TO CHANGE ALL DB AND LOGIC FOR NUMBER SCALE INSTEAD OF COMPASS -->

    <input ng-model="light" id="lightslider" type="range" min="0" max="10" step="1" value="0" ng-change="changeLight()"/>
    <h3>{{light}}</h3>

    <!-- IMAGE THAT LIGHTENS AS SLIDER IS INCREASED -->
    <div class="box grouping">
      <div class="lightbox" ng-model="light" ng-style="trulite"></div>
      <img src="./vendors/images/HouseplantLightScale.png">
    </div>



    <div class="scroll-button">
      <a ng-click="scrollTo('space')">Space Requirements</a>
    </div>

  </div>
</div>

<!-- *******
SPACE REQUIREMENTS
*********-->
<div class="container" id="space">
  <div class="row">
    <h2 class="header">Space Needs</h2>
    <p class="text-block">Indoor plants obviously have less space available to them than if they were outdoors. The shortage is both in container space, which limits the ability of roots to spread out and find enough nutrients and water to feed the plant, and in the air height and width, which restricts the ability for the plant to spread out branches or leaves to collect enough sunlight to grow. Because windows, the light source for plants, are usually on the walls and not in the ceilings, plants have less incentive to grow tall indoors.</p>
    <p>For the purposes of determining the height of the plant in your home, we’ll focus just on the air height of the plant, and assume that you have at least a foot of space beneath these calculations for the height of the pot. On the sliders below, select the height and width you have available.</p>
    <div class="dimensions" ng-model="windowData">
      <p>First off, about how wide is the space that you have for your plant?</p>
      <label for="width">Width in inches:</label>
      <input type="text" name="width" id="width" ng-model="windowData[0].width" value={{windowData[0].width}}>
      <input type="range" min="0" max="100" step="1" id="width" ng-model="windowData[0].width" value={{windowData[0].width}}>
      <p>{{windowData[0].width}}</p>
      <p>Next, how much height do you have available?</p>
      <label for="height">Height:</label>
      <input type="text" name="height" id="height" ng-model="windowData[0].height" value={{windowData[0].height}}>
      <input type="range" min="0" max="100" step="1" id="height" ng-model="windowData[0].height" value={{windowData[0].height}}>
      <p>{{windowData[0].height}}</p>
    </div>
    <div class="scroll-button">
      <a ng-click="scrollTo('water')">WATER</a>
    </div>

  </div>
</div>

<!-- ********
WATER
**********-->
<div class="container" id="water">
  <div class="row">
    <h2 class="header">Water</h2>
    <p class="text-block">Plants need water to process light energy into food. Generally, the less light that a plant is exposed to, the less water it needs to survive. But that’s not the only part of watering plants. Each plant variety requires different levels of water to survive, based upon the environment in which they’ve evolved. For some, having the roots frequently saturated with water will rot them, others depend on it to thrive. Every plant is more or less flexible with the water levels it needs. Many houseplants can handle infrequent watering periods, but not all.</p>
    <p>In choosing the best houseplant for you, we will use frequency of watering as an indicator of the plants’ health. This doesn’t mean that a specific plant needs more or less water overall, but more how tough it is in the face of neglect. Select on the sliding scale how frequently you think you would remember to water your houseplants.</p>
    <div ng-model="windowData">
        <label>How frequently would you water your plant? (Infrequent to Frequent)</label>
        <input type="text" name="height" id="height" ng-model="windowData[0].care_lvl" value={{windowData[0].care_lvl}}>
        <input type="range" min="0" max="100" step="1" id="height" ng-model="windowData[0].care_lvl" value={{windowData[0].care_lvl}}>
        <p>{{windowData[0].care_lvl}}</p>
    </div>
  </div>
  <div class="scroll-button">
    <a ng-click="scrollTo('toxicity')">toxicity icon</a>
  </div>

</div>

<!--*******
TOXICITY
********-->
<div class="container" id="toxicity">
  <div class="row">
    <h2 class="header">Toxicity</h2>
    <p class="text-block">Many household plants are toxic to varying degrees of severity.</p>
    <div ng-model="windowData">
        <label for="kids">Child that likes to eat houseplants?:</label>
        <input type="checkbox" name="kids" id="kids" ng-model="windowData[0].kids" value={{windowData[0].kids}}>
        <label for="cats">Dogs?:</label>
        <input type="checkbox" name="cats" id="cats" ng-model="windowData[0].cats" value={{windowData[0].cats}}>
        <label for="dogs">Cats?:</label>
        <input type="checkbox" name="dogs" id="dogs" ng-model="windowData[0].dogs" value={{windowData[0].dogs}}>

    </div>
    <div class="scroll-button">
      <a ng-click="scrollTo('submission')">Suggest a Plant</a>
    </div>
  </div>
</div>

<div class="container" id="submission">
    <input class="btn btn-warn" type="submit" ng-click="suggestPlant()" value="Suggest Plants"/>
    <div class="container" ng-repeat = "plant in suggestedPlants">
        <h4>{{plant.name}}</h4>
    </div>
</div>



<!-- <div class="container">
    <div id="localplants">
        <h4>Plant Inventory for this Window: {{plantinventory[0]}}</h4>
    </div>
    <div id="localchemicals">
        <h4>Chemicals Removed for this Window:</h4>
            <ul>
                <li>Benzene: {{benzene}} Micrograms over 24 hours</li>
                <li>Trichloroethylene: {{trichloroethylene}} Micrograms over 24 hours</li>
                <li>Formaldehyde: {{formaldehyde}} Micrograms over 24 hours</li>
            </ul>
    </div>

</div> -->
