<div class="instructions">
    <div class="container">
        <h1>Register New User</h1>
    </div>
</div>

<div class="container">
    <form action="/register" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
        </div>

        <input type="submit" value="Register"/>

    </form>
</div>